.CharacterCardDetail {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img {
    width: 250px;
    border-radius: 20px;
    margin: 20px;
  }
  &__name {
    margin-top: 20px;
    font-size: 20px;
  }
  &__back {
    color: black;
    background-color: #f675da;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
    color: white;
    margin-top: 30px;
    &:hover {
      opacity: 1;
    }
  }
  &__row {
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    &--detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
    }
  }
}
