.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  &__input {
    width: 250px;
    padding: 12px 20px;
    border: 1px solid #97ce4c;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 2px #f675da;
    @media all and (min-width: 768px) {
      width: 300px;
    }
  }
}

input::placeholder {
  color: #97ce4c;
}

.deleteBtn {
  cursor: pointer;
  padding: 10px 16px;
  margin-left: 8px;
  background-color: #f675da;
  border-radius: 100%;
  color: white;
  font-weight: 700;
  opacity: 0.5;
  border: none;
  outline: none;
}
.deleteBtn:hover {
  opacity: 1;
}
